<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pill app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8D483681E2B07C9007F013C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8D4837C1E2B07CA007F013C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8D483871E2B07CA007F013C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
